/* Set min-height to avoid page reflow while session loading */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 4rem;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 0.25rem;
  background-color: #e2e8f0;
  color: #2d3748;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.headline {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.125;
  margin: 0;
  color: rgba(0, 107, 0, 0.7);
}

.headline :hover {
  color: rgba(0, 107, 0, 0.9);
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 6.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0rem;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: #555;
}

.buttonPrimary {
  background-color: green;
  border-color: green;
  color: green;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: flex;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
