@tailwind base;
@tailwind components;
@tailwind utilities;

title {
  display: none;
}

description {
  display: none;
}

keywords {
  display: none;
}

html {
  background-image: linear-gradient(to right, #42d67c 0%, #38f9d7 100%);
}
